body {
    background-color: #e4d4d4;
    padding: 100px;
}

.calculatora-container {
    max-width: 400px;
    margin: 0 auto;
}

.calculatora {
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 32px;
    padding: 10px;
    background-color: #e9ecef;
    border: none;
    border-radius: 8px;
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    width: 3vw;
}

.btn-operation {
    background-color: #007bff;
    color: white;
}

.btn-equal {
    background-color: #28a745;
    color: white;
}

.btn-clear {
    background-color: #dc3545;
    color: white;
}
